[submodule "starship"]
	path = starship
	url = git@github.com:raph2leretour/starship.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:raph2leretour/nvim.git
[submodule "fish"]
	path = fish
	url = git@github.com:raph2leretour/fish.git
[submodule "kitty"]
	path = kitty
	url = git@github.com:raph2leretour/kitty.git
